/**
 * Description: hier werden nur die veraenderungen/erweiterungen gegenueber der style.css geladen
 * 
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body 
{
	width: 100%;
	background-color:#404040;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;

}
#content a, li a, a:hover
{
	color: #a02621;
}
#content a:hover
{
	text-decoration: underline;
}

#container
{
	padding: 0;
}
#header
{
	width: 100%;
	float: left;
	padding: 0;
}
#header_img
{
	width: 20%;
	float: left;
	padding: 0 0 0 1em;
}

#header_text
{
	width: 40%;
	float: left;
	font: normal 30px Arial;
	font-family: 'Source Sans Pro', sans-serif;

}
#navigation, #navigation .menu, #navigation a, #navigation ul
{
	width: 100% !important;
	background-color:#404040 !important;
	float: left;
}

#navigation .selected,
#navigation a:hover
{
	background-color:#a02621 !important;
}
#content
{
	float: left;
	margin: 5px 5px 5px 5px;
}

article
{
	padding: 0 0 0 10px;
}
.entry-meta
{
	color: #969696;
}

/*~~~~~~~~~~~ Kommentare ~~~~~~~~~~~~~~~~~*/
.comments_author
{
	width: 100%;
	display:inline;
	line-height:16px;
	margin: 0;
	padding: 0;
}

.comments_author_name
{
	font: normal 14px Arial;
	float: left;
	color: #ff0000;
	margin: 0;
	padding: 0;
}

.comments_author_tags-post
{
	font: normal 10px Arial;
	margin: 0;
	float: left;
	padding: 3px 0px 0px 10px;

}

.comments_content
{
	float: left;
	font-family: Arial;
	padding: 0 0 0 20px;
	margin: 0;
	text-align: justify;
	font-size:14px;
	line-height:18px;
	width: 100%;
}
#commentform
{
	width: 100%;
	font: normal 16px Arial;
}
#commentform input.text
{
	font-size:17px;
	line-height:22px;
}
#kommentare li
{
	list-style: none;
}
#comments-title
{
	width: 100%;
	text-align: left;
	padding: 30px 0 0 0;
}

#kommentare_header
{
	text-align: left;
	font-family: Arial;
	font-size: 24px;
	color: #000000;
	float: left;
	width: 100%;
	padding: 10px 0 20px 0;

}

#pagenavi
{
	width: 100%;
	float: left;
	text-align: center;
	padding: 20px;
	font: normal 11px Arial;
}

#searchform
{
	width: 100%;
	float: left;
	/*background-color: #009900;
	height:1.7em;*/
}

#searchform #s
{
	width: 68%;
	float: left;
}
#searchform #searchbutton
{
	width: 25%;
	float: right;
}
/**
 * 	Sidebar
 
#sidebar_header,*/
.akruetzelSidebar
{
  float:right;
  width:205px;
  padding:15px 0 5px 15px;
  font-size:0.9em;
  line-height:1.5em;
  background-color:#FFFFFF;
  text-align: center;
}
.sidebar_header
{
	margin:18px 0 10px 0;
	font-family:Helvetica,serif;
	font-size:1.2em;
	line-height:2em;
	display:block;
	padding:0 0 0 0.5em;
	font-style:normal;
	color:#FFFFFF;
	background:#a02621 /* url(images/spring_flavour/corner_top_left.gif) */ top left no-repeat;
	text-align: left;
}
.sidebar_header a
{
	color:#FFFFFF;
}
.akruetzelSidebar img
{
	border:thin solid color:#E02323;
	/*border:thin solid color: rgb(0,0,0);*/
}


* html #akruetzelSidebar {padding-top:32px;} /* dirty fix for IEWIN; temporary! */

#akruetzelSidebar ul, #subcontent p {margin:0 10px;  background:#C02323;}


/* subcontent list
--------------------------------------------------*/
.akruetzelSidebar ul li {
  margin:2px 0 2px 18px;
  /*padding:2px 2px 2px 8px;*/
	list-style-type:none;
/*font-size:20px;*/
  border-bottom:1px solid;
  background:#C02323;
}

.akruetzelSidebar li a {
  display:block;
  padding:1px 8px;
  height:1%; /* IE WIN */
}

.akruetzelSidebar li a:hover {
  display:block;
  padding:1px 8px;
  height:1%; /* IE WIN */
}

.akruetzelSidebar ul.categories li ul {margin:0;}

.akruetzelSidebar ul.categories li li {
  margin:0;
  padding:0 0 3px 0;
  border-bottom:none;
}

.akruetzelSidebar ul.categories li ul ul {margin:0 0 0 16px;}

/* footer */
#footer {
  clear:both;
  padding:20px 0 15px 0;
  font-size:0.9em;
  border-top: 1px solid #a02621;
}

.singlecol #footer {
  padding:25px 0 15px 0;
}

#footer p {
  padding:12px 0 18px 0;
  border-top:1px solid;
}

#footer strong {font-weight:normal;}

.singlecol #footer p {
  padding:12px 70px 18px 70px;
}

#footer-template_info {
	clear: both;
	width: 100%;
	font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
	font-size: 10px;


	color: #969696;
}
#footer-template_info a{
	color: #969696;
}
#footer_content, #footer_content a {
	clear: both;
	width: 100%;
	font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
	font-size: 13px;
	color: #969696;
}
#footer-sponsoren
{
	width: 100%;
	float: left;
	padding: 20px 0 20px 0;
	text-align: center;
}

#sidebar_socialLinks
{
	font: normal 14px Arial; 
	list-style: none; 

	width: 50px;
	z-index: 4000;
	float: left;
	vertical-align: top;

	top:40%; 
	left:0;
	font-size: 10px;
	position: fixed;
}
#sidebar_socialLinks a
{
	color: #969696;
}
#sidebar_socialLinks a 
{
	display:block;
	margin: 5px 0 5px 0;
}